{{ $title := .Get 0 }}
{{ $width := .Get 1 }}
{{ with .Inner }}
<figure>
    {{ with $width }}
        <img class="tikz-img" src="https://raw.githubusercontent.com/narisuzu-blog/tikz-diagrams/master/out/{{$title}}.svg"
            width="{{.}}" loading="lazy">
    {{ else }}
        <img class="tikz-img" src="https://raw.githubusercontent.com/narisuzu-blog/tikz-diagrams/master/out/{{$title}}.svg" loading="lazy">
    {{ end }}
    <figcaption>{{ safeHTML . }}</figcaption>
</figure>
<style>
    .tikz-img {
        text-align: center;
        display: block;
        margin: 20px auto;
    }
</style>
{{ else }}
<img class="tikz-img" src="https://raw.githubusercontent.com/narisuzu-blog/tikz-diagrams/master/out/{{$title}}.svg"
    width="{{$width}}" loading="lazy">
{{ end }}