{{ $title := .Get 0 }}
{{ $desktopWidth := .Get 1 }}
{{ $mobileWidth := .Get 2 }}
<figure class="tikz-wrapper">
    <img class="tikz-img" src="{{.Site.Params.imgBase}}{{$title}}.svg" loading="lazy">
    {{ with .Inner }}
    <figcaption class="tikz-capt">{{ safeHTML . }}</figcaption>
    {{ end }}
</figure>

<style>
    .tikz-wrapper{
        padding: 0 20px;
    }

    .tikz-img {
        display: block; 
        margin: auto;
    }

    .tikz-capt {
        margin-top: 10px;
    }
</style>

<!-- 桌面設備寬度 -->
{{ with $desktopWidth }}
<style>
    @media screen and (min-width: 680px) {
        .tikz-img {
            width: {{.}};
        }
    }
</style>
{{ end }}

<!-- 移動設備寬度 -->
{{ with $mobileWidth }}
<style>
    @media screen and (max-width: 680px) {
        .tikz-img {
            width: {{.}};
        }
    }
</style>
{{ end }}